<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.op">

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/CustomTheme"
        tools:targetApi="32">
        <receiver android:name=".receiver.FitbitDataReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:enabled="true"
            android:exported="true"
            android:name=".service.MovementService" />
        <service
            android:enabled="true"
            android:exported="true"
            android:name=".service.LocalizationService" />
        <service
            android:enabled="true"
            android:exported="false"
            android:name=".service.AlarmService"/>
        <service
            android:enabled="true"
            android:exported="false"
            android:name=".service.UpdateFitbitDataService"/>
        <service
            android:enabled="true"
            android:exported="false"
            android:name=".service.FitbitDataService"/>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/mainActivity_title"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DailyFeelingsActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.TreatmentHistoryActivity"
            android:label="@string/treatmentHistoryActivity_title"
            android:exported="true"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.AnalyzeActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.FitbitAnalyzeActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.ReportActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="oauth-testing" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.QuestionActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".activity.EmergencyActivity"
            android:exported="true"
            android:screenOrientation="fullSensor">
        </activity>
    </application>

</manifest>